<section class="about__page">
  <h1 class="title">Rick and Morty Graphql APP</h1>
  <div class="about__container">
    <p class="about__paragraph">
      Rick and Morty / Explorer is a modern and minimalist web interface
      designed to explore the multiverse of the series through the official API
      from GraphQL. The main objective of this project is to transform one
      conventional data list in a smooth, elegant user experience and high
      performance, applying contemporary design patterns, careful
      microinteractions and a scalable component architecture. Tech Stack &
      Architecture Core Framework: Angular 12 & TypeScript Data Layer: GraphQL &
      Apollo Client (optimized queries and state management cache) Styling
      Engine: CSS3 Custom Native Properties (Mobile-first, Flexbox/Grid, Dark
      Mode) UX Patterns: Command Palette (Ctrl + K), Skeleton Loaders &
      microinteractions in CSS
    </p>
    <figure class="about__img">
      <img
        src="assets/imgs/web_dev.svg"
        alt="web development"
        class="about__picture"
        rel="preload"
        as="image"
        width="406"
        height="306"
      />
    </figure>
  </div>
  <p class="about__copy">
    Developed by <span class="text-white">Carlos Pérez</span>
  </p>
</section>
