<section class="about__page">
  <h1 class="title">Rick and Morty Graphql APP</h1>
  <div class="about__container">
    <p class="about__paragraph">
      Rick and Morty / Explorer es una interfaz web moderna y minimalista
      diseñada para explorar el multiverso de la serie a través del API oficial
      de GraphQL. El objetivo principal de este proyecto es transformar una
      lista de datos convencional en una experiencia de usuario fluida, elegante
      y de alto rendimiento, aplicando patrones de diseño contemporáneos,
      microinteracciones cuidadas y una arquitectura de componentes escalable.
      Tech Stack & Architecture Core Framework: Angular 12 & TypeScript Data
      Layer: GraphQL & Apollo Client (queries optimizadas y manejo de estado de
      caché) Styling Engine: CSS3 Custom Properties nativas (Mobile-first,
      Flexbox/Grid, Dark Mode) UX Patterns: Command Palette (Ctrl + K), Skeleton
      Loaders & microinteracciones en CSS
    </p>
    <figure class="about__img">
      <img
        src="assets/imgs/web_dev.svg"
        alt="web development"
        class="about__picture"
        rel="preload"
        as="image"
        width="406"
        height="306"
      />
    </figure>
  </div>
  <p class="about__copy">
    Developed by <span class="text-white">Carlos Pérez</span>
  </p>
</section>
